<div class="container">
  <h1>Making a post, eh??</h1>

  <form action='create_post' method='post'>
    Title: <input name="title"><br><br>
    Description: <input name="description"><br><br>
    Price: <input name="price"><br><br>
    Email: <input name="email"><br><br>
    <select name="cat_id"><br><br>
      <option value="1">Clothing</option>
      <option value="2">Home</option>
      <option value="3">Computers</option>
      <option value="4">Sports</option>
      <option value="5">Toys</option>
      <option value="6">Babies</option>
      <option value="7">Tools</option>
      <option value="8">Grocery</option>
      <option value="9">Auto</option>
      <option value="10">Movies</option>
    </select>
    <input type="submit" value="Submit">
    <br><br>
    <p align="right"><a href="/">quieres regresar?</a></p>
  </form>
</div>