
<h1>Grats bucko! you created a post!</h1>
<p>here is your super secret url! Dont lose it!!!</p>
<p><% @key %><%= @key %>
<%= @new_post.id %></p>
<a href="/<%= @new_post.id %>/edit?=<%= @new_post.key %>">Secret URL</a>
