<div class="container">
  <h1><center>Craigs List Junior</center></h1>
  <p>Why hello, today's date is: <%= @date %></p>
<ul>
  <%@categories.each do |c| %>
  <li><a href="/category/<%=c.id%>"><%=c.name%></a></li>
  <%end%>
</ul>
<p align= "right"><a href="/create">Click me to create a post!!</a></p>
</div>
