<div class="container">

  <h2><center> Most Recent Posts o' The Day </h2></center>
  <ul>
    <%@post.each do |p| %>
    <li><a href="/post/<%=p.id%>"><%=p.title%></a></li>
    <%end%>
  </ul>

  <p align="right"><a href='/'>rettttuurrrrrnnnn home</a></p>

</div>


